section[data-section="banner"]
  .banner
    display none
    font-size 18px
    text-align center
    color white
    background #2c7cb0
    padding 7px
    a
      color white

    &.show
      display: block
