section[data-section="banner"]
  position fixed
  top 0
  width 100%
  z-index 10
  text-align center
  font-size 18px
  color white
  background #8077B7
  a
    color white
  .banner
    padding 8px
    display none
    &.show
      display: block

main
  margin-top 41px
