@import "mixins/media-query-variables"

section[data-section="faq"]
  color #000
  display flex
  justify-content center
  flex-flow column
  padding var(--section-vertical-padding) 12px

  .content
    width 64rem
    max-width 100%
    margin 0 auto

    a
      color inherit

  .logos
    text-align center
    & > svg
      max-width 100%
      margin 2rem 0
      height 4rem

.faq-page
  color #000
  display flex
  justify-content center
  flex-flow column

  .content
    width 64rem
    max-width 100%
    padding-left 10px
    padding-right 10px
    margin 3em auto 0 auto

    a
      color inherit

    h1
      font-size 1.75em

    h3
      font-size 1.25em
      margin-top 1.5em
      margin-bottom .25em

    p
      margin-top 0px

    ol
      li
        margin-top 0px
    ul
      li
        margin-top 0px

  .hero
    background linear-gradient(to bottom left,#ba77b1,#8176b5)
    background-size cover
    background-position center
    padding-top: 44px
    padding-bottom: 24px;

    h1
      color white
      text-align center

    .main-logo
      max-width 275px
      display block
      margin 0 auto
      fill white
