@import "mixins/media-query-variables"

:root
  --bg-background-color hsl(47, 34%, 98%)
  --bg-content-color #FCFCFC
  --header-color hsl(0, 0%, 20%)
  --border-color darkgrey

body.purge-cache-page
  background-color var(--bg-background-color)

  section[data-section="purge-cache"]
    display flex
    justify-content center
    align-items center
    flex-flow column
    font-family var(--sans-serif-fonts)
    min-height calc(90vh)
    padding var(--section-vertical-padding) 1em 1em

    header
      margin 0 auto
      padding-bottom 0
      text-align center

      .logo > svg
        height 10rem
        fill var(--header-color)

      .title
        margin-top 10px
        border-top 10px solid var(--header-color)
        display inline-block
        color var(--header-color)

        @media desktopMinWidthQuery
          padding 16px 3.5em 0

        @media mobileMaxWidthQuery
          padding 11px .7em 0

    .description
      font-size .9em
      max-width 720px

    .form-container
      display flex
      flex-flow column
      align-items center
      max-width 600px
      width 100%
      margin-top 10px
      border 1px solid var(--border-color)
      padding 15px
      background-color var(--bg-content-color)
      border-radius var(--border-radius)

      .title
        margin 0px 0 20px

      form
        width 100%
        max-width 300px

        .label
          font-size 14px
          font-weight 600
          margin-bottom .4em

          &.required::after
            content: "*"
            color darkred
            font-size .7em
            position relative
            left 3px
            bottom 3px

        .input-field
          width 100%
          margin-bottom 12px
          font-size 14px

          &[type="text"]
            padding 0 .4em
            height 3.5rem


        #submit-button
          font-size 16px
          cursor pointer

      #info-message
        border-radius var(--border-radius)
        font-size .7em
        margin-top 10px
        padding 4px
        width 100%
        text-align center

        &.success
          background-color var(--brand-accent-green)

        &.error
          background-color var(--brand-accent-red)
