.Button {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  border: 0;
  background: transparent;
  color: inherit;
  line-height: var(--form-field-line-height);
  padding: var(--button-vertical-padding) var(--button-horizontal-padding);
  border-radius: var(--form-field-border-radius);
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}

.Button:focus {
  outline: none;
}

.Button.focus-visible:focus {
  box-shadow: 0 0 0 var(--focus-shadow-size) var(--focus-shadow-color);
}

.Button.focus-visible:not(:focus) {
  --focus-shadow-size: 0;
}

.Button-is-primary {
  background: rgb(var(--dark-purple-rgb));
  color: rgb(var(--background-color-rgb));
}

[theme="dark"] .Button-is-primary {
  background: rgba(var(--purple-rgb), 0.35);
  color: #fff;
}

.Button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.Button.Button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button.Button-with-icon .Button--icon {
  height: 1.5em;
  width: 1.5em;
  margin-bottom: 0.1em;
  margin-right: 0.3125em;
}

.Button.Button-with-icon.Button-google-play-store .Button--text {
  font-size: 0.825em;
  margin-bottom: 0.0625em;
}

html[is-ios] .Button-google-play-store {
  display: none;
}

.Button--tc {
  text-align: center;
}
