section(data-section="banner")
  .banner.ios
    a(href="foo") Download
    span &nbsp; the 1.1.1.1 mobile app ✌️✌️
  .banner.android
    a(href="foo") Download
    span &nbsp; the 1.1.1.1 mobile app ✌️✌️
  .banner.others
    a(href="foo") We just released
    span &nbsp; a 1.1.1.1 app to have a faster, more private internet on the go! ✌️✌️