section(data-section="banner")
  .banner.ios
    a(href="foo") Download
    span &nbsp; the 1.1.1.1 app to have a safer and faster Internet!
  .banner.android
    a(href="foo") Download
    span &nbsp; the 1.1.1.1 app to have a safer and faster Internet!
  .banner.others
    a(href="foo") We just released
    span &nbsp; a 1.1.1.1 app to have a safer and faster internet on the go!