section(data-section="footer")
  .content
    a.footer-logo(href="https://1.1.1.1/") 1.1.1.1
    span &nbsp; &nbsp; &nbsp; &nbsp;
    a(href="https://www.cloudflare.com/terms/") Terms of Service
    span &nbsp; &nbsp;
    a(href="https://developers.cloudflare.com/1.1.1.1/commitment-to-privacy/privacy-policy/privacy-policy/") Privacy Policy
