section(data-section="help")
  header
    h1.hero-copy(alt="1.1.1.1 DNS resolver")
      include ../../media/logo.svg

    h2.description Connection Information

  .connection-info
    h3 Debug Information

    table.debug-table
      tr
        td Connected to Resolver
        td(data-ref="isCf") Loading...
      tr
        td Using DNS over HTTPS (DoH)
        td(data-ref="isDot") Loading...
      tr
        td Using DNS over TLS (DoT)
        td(data-ref="isDoh") Loading...
      tr
        td AS Name
        td(data-ref="ispName") Loading...
      tr
        td AS Number
        td(data-ref="ispAsn") Loading...
      tr
        td <a href="https://support.cloudflare.com/hc/en-us/articles/200169986-Which-Cloudflare-data-center-do-I-reach-" target="_blank">Cloudflare Data Center</a>
        td(data-ref="datacenterLocation") Loading...

    h3 Connectivity to Resolver IP Addresses

    table.debug-table
      tr
        td.ip-address 1.1.1.1
        td(data-ref="resolverIp-1.1.1.1") Loading...
      tr
        td.ip-address 1.0.0.1
        td(data-ref="resolverIp-1.0.0.1") Loading...
      tr
        td.ip-address 2606:4700:4700::1111
        td(data-ref="resolverIp-2606:4700:4700::1111") Loading...
      tr
        td.ip-address 2606:4700:4700::1001
        td(data-ref="resolverIp-2606:4700:4700::1001") Loading...
