.PerformanceSection(data-depth-perspective-root)
  .PerformanceSection--column
    .PerformanceSection--content
      .SectionCopy.SectionCopy-is-centered(data-depth-perspective-scroll-anchor, data-depth='3')
        .SectionCopy--content
          h2.SectionCopy--title(data-js-balance-text)!=htmlWebpackPlugin.options.t('home.performancetitle')
          .SectionCopy--description(data-js-balance-text)
            p!=htmlWebpackPlugin.options.t('home.performancedesc1')
            p!=htmlWebpackPlugin.options.t('home.performancedesc2')
    .PerformanceSection--figure(data-depth='3')
      .PerformanceSection--figure-item.PerformanceSection--figure-item-one-dot(style="--bar-width: 0.30")
        .PerformanceSection--figure-item-bar
        .PerformanceSection--figure-item-time 18.64ms
        .PerformanceSection--figure-item-label 1.1.1.1
      .PerformanceSection--figure-item(style="--bar-width: 0.38")
        .PerformanceSection--figure-item-bar
        .PerformanceSection--figure-item-time 23.28ms
        .PerformanceSection--figure-item-label Google
      .PerformanceSection--figure-item(style="--bar-width: 0.40")
        .PerformanceSection--figure-item-bar
        .PerformanceSection--figure-item-time 24.15ms
        .PerformanceSection--figure-item-label OpenDNS
      .PerformanceSection--figure-item(style="--bar-width: 1.00")
        .PerformanceSection--figure-item-bar
        .PerformanceSection--figure-item-time 60.69ms
        .PerformanceSection--figure-item-label Verisign
    p(style="font-size:12px; font-style:italic;")!=htmlWebpackPlugin.options.t('home.performancedate')